.not-visible{
    visibility: hidden;
    // display: none;
}

.todo-home{
    background-color: blueviolet;
    height: 100%;
}
.home{
    background-color: gray;
    // height: auto;
}

.options-container{
    margin-top: 10em;
}
.cards{
    width: 60% !important;
}